@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
    --orange1: rgb(245, 84, 9);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
    --light-color: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

    *::selection {
        color: var(--orange);
        background-color: #fff;
    }

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body,
input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h3,
h4 {
    font-weight: 500;
}


::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: var(--grey);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--grey2);
    }

::-webkit-scrollbar-track {
    background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}

/*
======================
Navigation
======================
*/

/* for nav-bar */
/* Header CSS Start*/
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4%;
    height: 80px;
}

.contain {
    position: relative;
    display: flex;
    align-items: center;
}

    .contain img {
        position: absolute;
        height: 100px;
        padding-bottom: 15px;
        display: block;
        right: 140px;
    }

    .contain .navbar-brand {
        font-size: 2.8rem;
        letter-spacing: 3px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
        font-family: 'Bebas Neue', cursive;
        padding-left: 90px;
    }

header .nav-bar a {
    font-size: 2rem;
    color: #000;
    margin: 2rem 4.8rem;
    justify-content: center;
    align-items: center;
}

    header .nav-bar a:hover {
        color: var(--grey);
    }

header .icons i {
    font-size: 2.5rem;
    color: #000;
    cursor: pointer;
    margin-right: 2rem;
}

    header .icons i:hover {
        color: var(--grey);
    }

#menu-bar {
    color: #000;
    border: .1rem solid;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}
/* Header CSS End */


@media(max-width: 768px) {
    #menu-bar {
        display: initial;
    }

    header .nav-bar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #fff;
        border-top: .1rem solid rgba(245, 236, 236, 0.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .3s ease;
        color: #000;
    }

        header .nav-bar.actives1 {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        header .nav-bar a {
            display: block;
            border-radius: .5rem;
            padding: 1.5rem;
            margin: 1.5rem 0;
        }

    section {
        padding: 2rem;
    }

    header #nav-bar-logo img {
        height: 120px;
        width: 150px;
    }
}


.contact-bg {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../Image/news1.jpg);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .contact-bg h3 {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .contact-bg h2 {
        font-size: 3rem;
        text-transform: uppercase;
        padding: 0.4rem 0;
        letter-spacing: 4px;
    }

.line div {
    margin: 0 0.2rem;
}

    .line div:nth-child(1),
    .line div:nth-child(3) {
        height: 3px;
        width: 70px;
        background: #f7327a;
        border-radius: 5px;
    }

.line {
    display: flex;
    align-items: center;
}

    .line div:nth-child(2) {
        width: 10px;
        height: 10px;
        background: #f7327a;
        border-radius: 50%;
    }

.text {
    font-weight: 300;
    opacity: 0.9;
}

.contact-bg .text {
    margin: 1.6rem 0;
}

.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

    .contact-info span {
        display: block;
    }

    .contact-info div {
        margin: 0.8rem 0;
        padding: 1rem;
    }

    .contact-info span .fas {
        font-size: 2rem;
        padding-bottom: 0.9rem;
        color: #f7327a;
    }

    .contact-info div span:nth-child(2) {
        font-weight: 500;
        font-size: 1.1rem;
    }

    .contact-info .text {
        padding-top: 0.4rem;
    }

.contact-form {
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}

    .contact-form form {
        padding-bottom: 1rem;
    }

.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    outline: 0;
}

    .form-control:focus {
        box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
    }

.contact-form .form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.send-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #f7327a;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

    .send-btn:hover {
        opacity: 0.8;
    }

.contact-form > div img {
    width: 85%;
}

.contact-form > div {
    margin: 0 auto;
    text-align: center;
}
.map iframe{
    width:100%;
}

@media screen and (min-width: 768px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-bg .text {
        width: 50%;
    }

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* Footer CSS */
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: var(--orange);
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
