*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-size: 14px;
    background: #fafafa;
}
form .wrapper {
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid #f5ba1a;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
form .wrapper h2{
    font-size: 3rem;
    line-height: 24px;
    padding-bottom: 2rem;
    text-align: center;
}
form .input-name {
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.input-name img{
    width: 100%;
    height: 100px;
}
.bx-user{
    padding: 8px 11px;
}
.name {
    width: 45%;
    padding: 8px 0 8px 40px;
}
 .input-name span {
    margin-left: 30px;
}
.text-name{
    width:100%;
    padding: 8px 0 8px 40px;
}
.input-name i {
    position: absolute;
    font-size: 18px;
    border-right: 1px solid #ccc;
}
.bx-time-five, .bx-barcode, .bxs-map, .bx-credit-card {
    padding: 8px 11px;
}
.text-name, .name {
    outline: none;
    border: 1px solid #ccc;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}
.input-name #BtnSubmitOrder {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    background-color: #f5ba1a;
    border:none;
    cursor: pointer;
}
.text-name:hover, .name:hover{
    background-color: #fafafa;

}
.text-name:focus, .name:focus{
    box-shadow: 0 0 2px 1px rgba(255,169,0,0.5);
    border: 1px solid #f5ba1a;
    background: #fafafa;
}
.input-name #LinkButton1 a {
    outline: none;
    color: #808080;
}